.products{
padding: 4rem 1%;
}
.products h3{
    text-align: center;
}
.products .productContainer{

display: flex;
justify-content: center;
width: 100%;
align-items: center;
gap:1.4rem;
margin: 1.3rem 0;
flex-wrap: wrap;
overflow: hidden;
}
.products .productContainer .product{
    background:  rgba(0,0,0,.3);
margin: .5rem 0; 
   width: 30rem;
    position: relative;
    display: flex;
    width: auto;
    text-align: center;
    flex-direction: column;
    align-items: center ;
    border-radius: 1rem;
        box-shadow: 1px 1px 8px #000000;
        overflow: hidden;
        
}
.products .productContainer .product .icons:hover{
    color: white;cursor: pointer;
    background: var(--pink);
}
.products .productContainer .product .icons{
    position: absolute;
    line-height: 4rem;
    width: 4rem;font-size: 2rem;
    transition: all 1s ease;
    display: flex;
    top:1.5rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0,.2);
    border-radius: 2rem;
}
.products .productContainer .product  .fa-heart{
    left: -15rem;
}
.products .productContainer .product:hover .fa-heart{
    left: 1.5rem;
}.products .productContainer .product  .fa-shopping-cart{
right: -20rem;
}
.products .productContainer .product:hover  .fa-shopping-cart{
right: 2rem;
}

.products .productContainer .product .descriptions {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: inherit !important;
    align-items: center;
    margin: 0rem 0 2rem;
    padding: 1rem 2rem 0rem 0 !important;
}

.products .productContainer .product .descriptions p{
    padding: 1rem 0;
}
.products .productContainer .product .descriptions .star{
    padding:0 0 1rem;
    font-size: 2rem;
}
.products .productContainer .product .btn{
    height: 3.5rem;

    font-size: 1.9rem;
    width: 15rem;
}
.products .productContainer .product .image img{
    height: 20rem;
    width: 27rem;
    object-fit:cover;
    padding: 0.5rem 1rem;
    margin: 1rem;
    background-color: aliceblue;
}
