.heroContainer{
   display:flex;
    background-color: rgba(0,0,0,.3);
    justify-content: center;
    align-items: center;
    padding: 3rem 9%;
    width: 100%;
    height: 85vh;
}

.heroContainer .content p{
background-color: black;
color: white;
display: inline-block;
line-height: 3.6rem;
width: 17rem; border: 1px solid rgb(255, 37, 37);
border-radius:.4rem;
text-align: center;
}
.content p:hover{
    color: black;
    background: white;
    cursor: pointer;
}
.heroContainer .content h4{
    color: rgba(0,0,0,.4);
    padding: 1rem 0;
    font-size: 5rem;
    padding: 1rem 0 ;
 font-weight: lighter;

}
.heroContainer .content h1{
    padding: 1rem 0;
}
.heroContainer .content{
    flex:1 1 55%;
}

.heroContainer img{
    width:100%;
    transform: rotate(-35deg);
    animation:shoe .3s linear;
    height: 45vh;
    object-fit:scale-down; 
     transition: all 2s ease;   cursor: pointer;

  }
  

  .heroContainer .image{
    flex:1 1 45%;
}
.heroContainer .image:hover img{
    transform: rotate(-9deg);   
   
}













@media (max-width:1094px) {
    .heroContainer{
        flex-direction: column;
height: 95vh;
    }
    .heroContainer .image{
        padding-bottom: 6rem;
    }
}

@media (max-width:500px) {
 
    .heroContainer {
        height: 90vh; }
}