.headerContainer{
    display: flex;
    height: 7vh;
    align-items: center;
    padding:0 9%;
    justify-content: space-between;
    background-color: black;
}
.category{
    position: relative;    color: white;

}
.category > .divCate{
    position: absolute;
    display: flex;
 top: -1.3rem;
    height: 4rem;
    align-items: center;
    font-size: 2.5rem;
    background-color: var(--pink);
    padding: 0 1rem;
}
 form{
    position: relative;
    display: flex;
    align-items: center;
}

.headerContainer form .btn,
.headerContainer form  .btn::before{
    height:4rem;
    width: 10rem;font-size: 1.5rem !important;
    right: 0rem;
    top: 0;
    bottom: 0;
    position: absolute;

}
.headerContainer form input{
width: 50rem;
height: 4rem;
border: none;
padding-left: 5rem;
/* border-radius: 1rem; */
padding-right: 11rem;
}
.headerContainer form .fa-search{
    position: absolute;
    font-size: 2rem;
    left: 1rem;
}
.headerContainer form .fa-search:hover{
    color: var(--pink);
    cursor: pointer;
    transition: all .2s ease;
}
@media (max-width:996px){
    .category > .divCate{
        top: -1.3rem;
        height: 4.2rem;
    }
}
@media (max-width:850px){
    .headerContainer{
        display: none;
    }
}